@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div>
    <button @onclick="ShowCurrentDate">Show Date Time</button>
    <span style="margin-left: 10px;">@currentDate</span>
</div>





// Region - Scripts
    
    // Show Date time
    @code {
        // Variable to store the current date
        private string currentDate = string.Empty;

        // Method to update the currentDate variable
        private void ShowCurrentDate()
        {
            currentDate = DateTime.Now.ToString("ddMMMMyyyy - HH:mm:ss");
        }
    }